---
import Project from '@components/Project.astro';
import { ProperHeaderAnimation } from '@components/ProperHeaderAnimation';
---

<Project
	links={[
		{
			text: 'proper.sh',
			url: 'https://proper.sh',
		},
	]}
	flipped
	showCaseBox='box-no-padding'
>
	<span slot='title'>Proper</span>
	<span slot='description'>
		Generate your own shell script to globally install from NPM, Homebrew, Mac app store, &
		Composer.
	</span>
	<div
		slot='showcase'
		class='flex items-center justify-center relative h-full bg-white dark:bg-drop-950'
	>
		<div>
			<ProperHeaderAnimation client:load />
		</div>
		<div class='absolute z-10 flex items-stretch w-full px-6 max-w-[18rem]'>
			<svg
				class='text-rose-600 dark:text-rose-400'
				xmlns='http://www.w3.org/2000/svg'
				fill='none'
				viewBox='0 0 343 93'
			>
				<path
					fill='currentColor'
					d='M94.806 84.617v-51.17h8.552v6.94h.14c.701-2.43 1.939-4.3 3.715-5.608 1.823-1.355 4.066-2.032 6.729-2.032 3.785 0 6.823 1.331 9.113 3.995 2.336 2.664 3.504 6.239 3.504 10.725V57.91c0 4.533-1.168 8.13-3.504 10.794-2.29 2.664-5.328 3.996-9.113 3.996-2.617 0-4.836-.654-6.659-1.963-1.822-1.355-3.084-3.248-3.785-5.677h-.14l.21 8.761v10.795h-8.762Zm15.912-19.486c2.243 0 3.972-.655 5.187-1.963 1.262-1.308 1.893-3.178 1.893-5.608v-9.673c0-2.43-.631-4.299-1.893-5.607-1.215-1.309-2.944-1.963-5.187-1.963-2.243 0-3.995.678-5.257 2.033-1.262 1.355-1.893 3.27-1.893 5.747v9.253c0 2.477.631 4.393 1.893 5.748 1.262 1.355 3.014 2.033 5.257 2.033ZM137.958 72V33.448h8.551v7.36h.211c.373-2.524 1.495-4.486 3.364-5.888 1.869-1.449 4.253-2.173 7.15-2.173 3.972 0 7.15 1.308 9.533 3.925 2.383 2.57 3.575 6.098 3.575 10.584v3.155h-9.183v-2.524c0-2.383-.631-4.229-1.892-5.537-1.215-1.355-2.991-2.033-5.328-2.033-4.813 0-7.219 2.687-7.219 8.06V72h-8.762Zm56.539.63c-4.953 0-8.879-1.354-11.776-4.065-2.897-2.757-4.346-6.448-4.346-11.075v-9.533c0-4.626 1.449-8.294 4.346-11.005 2.897-2.757 6.823-4.135 11.776-4.135 4.953 0 8.879 1.378 11.776 4.135 2.897 2.71 4.346 6.356 4.346 10.935v9.603c0 4.627-1.449 8.318-4.346 11.075-2.897 2.71-6.823 4.066-11.776 4.066Zm0-7.64c2.337 0 4.136-.63 5.397-1.892 1.309-1.309 1.963-3.178 1.963-5.608v-9.533c0-2.43-.654-4.276-1.963-5.537-1.261-1.309-3.06-1.963-5.397-1.963-2.336 0-4.159.654-5.467 1.963-1.262 1.261-1.893 3.107-1.893 5.537v9.533c0 2.43.631 4.3 1.893 5.608 1.308 1.262 3.131 1.892 5.467 1.892Zm26.399 19.627v-51.17h8.551v6.94h.14c.701-2.43 1.94-4.3 3.715-5.608 1.823-1.355 4.066-2.032 6.73-2.032 3.785 0 6.822 1.331 9.112 3.995 2.337 2.664 3.505 6.239 3.505 10.725V57.91c0 4.533-1.168 8.13-3.505 10.794-2.29 2.664-5.327 3.996-9.112 3.996-2.617 0-4.837-.654-6.659-1.963-1.823-1.355-3.085-3.248-3.786-5.677h-.14l.211 8.761v10.795h-8.762Zm15.911-19.486c2.243 0 3.972-.655 5.187-1.963 1.262-1.308 1.893-3.178 1.893-5.608v-9.673c0-2.43-.631-4.299-1.893-5.607-1.215-1.309-2.944-1.963-5.187-1.963-2.243 0-3.995.678-5.257 2.033-1.262 1.355-1.892 3.27-1.892 5.747v9.253c0 2.477.63 4.393 1.892 5.748 1.262 1.355 3.014 2.033 5.257 2.033Zm41.82 7.57c-3.271 0-6.122-.63-8.552-1.893-2.43-1.261-4.322-3.014-5.678-5.257-1.308-2.29-1.962-4.953-1.962-7.99v-9.674c0-3.037.654-5.678 1.962-7.92 1.356-2.29 3.248-4.066 5.678-5.328 2.43-1.262 5.281-1.892 8.552-1.892 3.224 0 6.028.63 8.411 1.892 2.43 1.262 4.299 3.038 5.608 5.328 1.355 2.242 2.033 4.883 2.033 7.92v6.94h-23.763v2.733c0 5.468 2.594 8.201 7.781 8.201 4.019 0 6.378-1.331 7.079-3.995h8.622c-.654 3.318-2.43 5.982-5.327 7.991-2.851 1.963-6.332 2.944-10.444 2.944Zm-7.711-24.814v1.472l15.281-.07v-1.472c0-2.663-.631-4.696-1.893-6.098-1.261-1.449-3.154-2.173-5.677-2.173-2.57 0-4.51.724-5.818 2.173-1.262 1.448-1.893 3.505-1.893 6.168ZM306.077 72V33.448h8.551v7.36h.211c.373-2.524 1.495-4.486 3.364-5.888 1.869-1.449 4.253-2.173 7.15-2.173 3.972 0 7.15 1.308 9.533 3.925 2.383 2.57 3.575 6.098 3.575 10.584v3.155h-9.183v-2.524c0-2.383-.631-4.229-1.892-5.537-1.215-1.355-2.991-2.033-5.328-2.033-4.813 0-7.219 2.687-7.219 8.06V72h-8.762ZM11.13 71.376C3.405 75.302-3.831 65.33 2.297 59.202l26.07-26.072a7.615 7.615 0 0 1 10.77 0l26.07 26.07c6.13 6.13-1.107 16.1-8.833 12.175l-19.172-9.742a7.615 7.615 0 0 0-6.9 0l-19.171 9.742Z'
				>
				</path>
			</svg>
		</div>
	</div>
</Project>
