---
import { Image } from '@astrojs/image/components';
import Project from '@components/Project.astro';
---

<Project
  links={[
    {
      text: 'Visit Radlist',
      url: 'https://radl.ist',
    },
  ]}
  showCaseBox='box-no-padding'
>
  <span slot='title'>Radlist</span>
  <span slot='description'>
    <div class='space-y-2'>
      <p>The delightful way to make lists for movies, games, shows, and more.</p><p
        class='opacity-60'
      >
        Now in private beta.
      </p>
    </div>
  </span>
  <div slot='showcase' class='flex items-center justify-center relative'>
    <Image
      class='rounded-xl hidden dark:inline-block pointer-events-none select-none'
      width={800}
      height={445}
      alt='Radlist'
      quality={100}
      src='/projects/radlist/radlist-bg-dark.png'
    />
    <Image
      class='rounded-xl inline-block dark:hidden pointer-events-none select-none'
      width={800}
      height={445}
      alt='Radlist'
      quality={100}
      src='/projects/radlist/radlist-bg-light.png'
    />
    <div
      class='absolute z-10 w-full max-w-[18rem justify-center flex items-center font-extrabold gap-3 uppercase tracking-widest text-4xl'
    >
      <svg
        class='w-[2.5rem] animate-spin-slow'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 106 106'
      >
        <path
          fill='currentColor'
          d='M48.35 3.96c1.7-4.3 7.8-4.3 9.5 0l5.7 14.33a5.11 5.11 0 0 0 6.78 2.8L84.49 15a5.11 5.11 0 0 1 6.72 6.72l-6.1 14.17a5.11 5.11 0 0 0 2.8 6.77l14.34 5.7c4.3 1.7 4.3 7.8 0 9.5l-14.34 5.7a5.11 5.11 0 0 0-2.8 6.78l6.1 14.16a5.11 5.11 0 0 1-6.72 6.72l-14.16-6.1a5.11 5.11 0 0 0-6.78 2.8l-5.7 14.34a5.11 5.11 0 0 1-9.5 0l-5.7-14.34a5.11 5.11 0 0 0-6.77-2.8L21.7 91.2a5.11 5.11 0 0 1-6.72-6.72l6.1-14.16a5.11 5.11 0 0 0-2.8-6.78l-14.33-5.7a5.11 5.11 0 0 1 0-9.5l14.33-5.7a5.11 5.11 0 0 0 2.8-6.77L15 21.7a5.11 5.11 0 0 1 6.72-6.72l14.17 6.1a5.11 5.11 0 0 0 6.77-2.8l5.7-14.33Z'
        >
        </path>
        <div>Radlist</div>
      </svg>
    </div>
  </div>
</Project>
