---
import { Image } from '@astrojs/image/components';
import Project from '@components/Project.astro';
---

<Project
  links={[
    {
      text: 'View Thred',
      url: 'https://thred.org',
    },
  ]}
  showCaseBox='box-no-padding'
>
  <span slot='title'>Thred</span>
  <span slot='description'>
    <div>
      <p>Learning platform with articles & podcasts.</p>
      <ul class='text-sm space-y-0.5 mt-5 text-drop-400 list-outside list-disc pl-4'>
        <li>Built on Next.js</li>
        <li>Custom podcast management platform</li>
        <li>Articles via headless CMS</li>
      </ul>
    </div>
  </span>
  <div slot='showcase' class='flex items-center justify-center relative h-full'>
    <video
      class='absolute top-0 left-0 object-cover w-full h-full rounded-lg overflow-hidden'
      autoplay=''
      loop=''
      muted=''
      playsinline=''
      src='/projects/thred/thred-animated-bg.webm'
    >
    </video>
    <div class='absolute z-10'>
      <svg
        class='text-[#324371] max-w-[20rem] w-full'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 192 64'
      >
        <path
          d='M64.7672 41.74347c-.99589 4.10453-3.66496 6.05727-7.13082 6.05727-4.14295 0-6.57302-2.86923-6.57302-6.53553V30.22662h-4.06335l10.07879-7.17303v4.46325h7.88771l-1.19519 2.70978H57.0788v9.12576c0 2.03236.59749 3.82564 3.26656 3.82564 1.31469 0 2.70897-.43834 4.22276-1.63383l.19909.19927Zm36.01303-8.08963 2.07137-6.137c-4.18285-.95641-7.13082 1.63383-8.4852 5.45947l-.19931-.07962.9562-5.93773-8.28611 3.62638 2.27067 2.19171v12.23418l-1.89233 1.80283-1.89233-1.80283V32.97632c0-4.54287-2.86838-5.858-5.81613-5.858-3.70486 0-6.01544 1.67375-7.96752 3.7061l-.19909-.19927.59749-3.3873V16l-8.28611 3.62648 2.27067 2.19171v23.19304l-2.50967 2.39097H74.4476l-2.50967-2.39097V32.21917c1.67318-1.2353 3.18697-1.51429 4.22276-1.51429 1.91218 0 3.14706.75714 3.14706 3.54665v10.79951l-2.46998 2.35116h22.22938l-3.94386-2.82942V34.29145c1.19519-1.39475 3.46587-1.47448 5.65694-.63761Zm19.95849 1.59402c-.07959-5.49939-3.58536-8.12954-8.56501-8.12954-5.89594 0-10.55678 3.74591-10.55678 10.1619 0 5.97754 4.10326 10.52052 10.23819 10.52052 3.98376 0 7.21042-1.91282 8.6047-6.61515l-.19909-.19927c-2.23098 1.75337-4.58125 2.19171-6.25443 2.19171-4.26266 0-6.65283-2.86923-6.65283-7.89036v-.03981h13.38526Zm21.63211 7.7309V16l-8.28611 3.62648 2.27067 2.19171v5.57912c-1.15529-.19927-2.31058-.27899-3.22687-.27899-5.61682 0-11.51276 3.58657-11.51276 11.0784 0 6.57534 4.50144 9.60402 8.6047 9.60402 2.82847 0 5.21864-1.47448 6.53333-3.22795h.19909l1.514 3.42722L145 45.17059l-2.62917-2.19181Zm-30.83451-14.1867c1.99199 0 3.10737 1.91282 3.10737 4.90159h-7.21063c.3984-3.10831 1.95208-4.90159 4.10326-4.90159Zm21.15412 15.66118c-2.86838 0-4.82024-2.59024-4.82024-7.57156 0-5.06105 2.11127-8.0099 4.97965-8.0099 1.87227 0 3.50555 1.2353 3.50555 3.18804v10.95886c-1.03579.95641-2.43007 1.43456-3.66496 1.43456Z'
          style='fill:currentColor'
        >
        </path><path
          style='fill:#22efd7'
          d='M115.325 57.832c-.199.524-.372.596-.585.242-.214-.357-.787-.393-1.957-.121-1.21.28-1.957.224-2.784-.21-1.13-.592-1.844-1.686-1.484-2.272.275-.446-2.026-.236-2.954.27-2.542 1.386-6.454 1.553-5.95.255.126-.323.056-.565-.163-.565-.215 0-.321-.666-.242-1.513.083-.888-.1-1.747-.444-2.078-.323-.312-.476-.664-.343-.787.137-.126-.282-.143-.968-.04-.686.103-1.578.225-2.058.282-.484.058-1.09.326-1.412.626-.323.3-.738.417-.969.275-.766-.475-2.441-.498-2.352-.033.053.274-.371.466-.976.443-.605-.022-1.183.144-1.332.384-.147.237-.706.473-1.27.537-1.937.217-3.138.535-4.802 1.27-1.856.82-5.73 1.494-5.73.997 0-.888 3.97-3.333 4.52-2.784.133.133.968-.14 1.855-.605.888-.466 2.06-.875 2.603-.908.524-.032 1.093-.222 1.21-.404.122-.188.787-.425 1.473-.524a24.4 24.4 0 0 0 2.3-.462c1.434-.384 2.663-.558 5.85-.827 2.139-.18 2.711-.097 2.905.421.137.364.463.646.747.646.28 0 .54.323.585.726.046.415.158 1.09.262 1.574.104.484.196 1.072.215 1.372.046.71 1.742.688 3.517-.046.787-.325 2.34-.705 3.39-.83 2.098-.249 2.866.215 2.988 1.804.076.977.159 1.01 2.7 1.056.969.018 1.684-.104 1.574-.27-.112-.168.283-.302.888-.302s1.09-.242 1.09-.545c0-.389.103-.383.362.02.283.44.426.404.646-.161.157-.404.399-.61.545-.464.15.15.504.063.827-.202.323-.265.565-.325.565-.141 0 .187.262.103.625-.202.337-.282 1.352-.59 2.199-.666.866-.077 2.3-.268 3.188-.423 1.089-.19 1.613-.125 1.613.202 0 .282.169.383.404.242.223-.134.8.181 1.291.706.604.645.72 1.006.363 1.13-.282.097-.578.013-.64-.182-.098-.308-1.78-.386-4.08-.19-.194.017-.235.174-.101.392.124.203-.444.336-1.292.302-.847-.034-1.601.082-1.714.263-.111.177-.666.204-1.23.06-.848-.216-.984-.141-.768.424.14.363.063.686-.16.686-.232 0-.544-.303-.687-.666-.143-.363-.473-.528-.726-.363-.332.216-.303.4.1.645.324.196.427.482.243.666-.185.184-.686.098-1.17-.202-.686-.424-.825-.42-.727.02.07.312-.181.493-.585.424-.381-.065-.835.222-.988.626Zm-50.011-.283c.143-.231-.142-.424-.626-.424s-.768.193-.625.424c.15.242.418.424.625.424.208 0 .476-.182.626-.424Zm4.6-.302c.483-.125.685-.45.524-.848-.148-.363-.263-.76-.263-.908 0-.14-.308.121-.665.565-.358.444-.554.622-.424.384.13-.237-.04-.444-.363-.444-.446 0-.494.201-.182.766.223.404.462.748.505.727.045-.023.423-.129.867-.243Zm4.498-.807c0-.227.565-.651 1.291-.969s1.18-.741 1.036-.968c-.403-.638-1.48-.404-1.48.323 0 .363-.194.524-.444.369-.484-.301-1.105.94-.683 1.366.168.169.28.12.28-.121Zm-1.17-.727c-.157-.627-.444-.744-1.291-.525-1.933.5-1.816 1.103.242 1.246 1.049.072 1.218-.044 1.049-.72Z'
        >
        </path>
      </svg>
    </div>
  </div>
</Project>
