---
const totalYears = new Date().getFullYear() - 2012;
---

<div class='box flex gap-6 items-center'>
  <div class='text-6xl'>👋</div>
  <div class='text-lg'>
    Hello, I'm Nate. I am a <span class='text-gradient'>full stack web developer</span> with
    <span class='text-gradient'>
      {totalYears} years
    </span> of experience.
  </div>
</div>
