<div class='box flex flex-col justify-center h-full text-3xl md:text-4xl lg:text-5xl lg:px-8'>
  <div>
    <span class='text-gradient'>Nate</span>
    <span>is making things <br class='hidden sm:inline' />on the internet.</span>
  </div>
</div>
