---
import { Image } from '@astrojs/image/components';
import BoxTitle from '@components/BoxTitle.astro';
import type { Track } from '@types';

const key = import.meta.env.LASTFM_API_KEY;

const track = await fetch(
  `http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=natedunn_&api_key=${key}&format=json&limit=1`
)
  .then((res) => res.json())
  .then(async (res) => {
    const track = res?.recenttracks?.track[0] as Track;

    return {
      name: track?.name ?? 'Unknown',
      artist: track?.artist?.['#text'] ?? 'Unknown',
      artwork: track?.image?.[3]?.['#text'] ?? null,
      album: track?.album?.['#text'] ?? null,
    };
  });
---

<div class='box overflow-hidden relative flex flex-col h-full w-full'>
  <div class='flex items-center gap-6 h-full'>
    <div class='h-[150px] aspect-square'>
      {
        track?.artwork && (
          <Image
            src={track?.artwork}
            alt={track.album ?? 'Album art'}
            height={300}
            width={300}
            class='rounded-xl'
          />
        )
      }
    </div>
    <div class='w-full'>
      <BoxTitle>Now playing</BoxTitle>
      <span class='inline-block font-bold text-primary-500 text-xl mt-1'>{track?.name}</span>
      <span class='inline-block w-full text-sm'>By {track?.artist}</span>
    </div>
  </div>

  <svg
    class='absolute -right-4 -bottom-8 h-32 w-32 opacity-20 text-primary-500'
    fill='none'
    viewBox='0 0 24 24'
  >
    <circle
      cx='7'
      cy='17'
      r='2.25'
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
    >
    </circle>
    <path
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
      d='M9.25 17V6.75C9.25 5.64543 10.1454 4.75 11.25 4.75H17.25C18.3546 4.75 19.25 5.64543 19.25 6.75V14'
    >
    </path>
    <circle
      cx='17'
      cy='14'
      r='2.25'
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
    >
    </circle>
  </svg>
</div>
