---
import { Image } from '@astrojs/image/components';
---

<div class='box-no-padding h-full sm:p-16 md:p-0'>
	<Image
		class='h-full w-full object-cover pointer-events-none select-none rounded-xl'
		src='/me-v2.webp'
		alt='Nate Dunn'
		height={400}
		width={400}
	/>
</div>
