---
import { Image } from 'astro:assets';
---

<div class='box-no-padding h-full sm:p-16 md:p-0'>
  <Image
    class='h-full w-full object-cover pointer-events-none select-none rounded-xl'
    src='/me-square.webp'
    alt='Nate Dunn'
    height={400}
    width={400}
  />
</div>
