---
import { Image } from '@astrojs/image/components';
---

<div class='box !p-0 col-span-4 flex flex-col'>
  <div class='flex flex-col h-full p-8'>
    <div class='text-xs uppercase tracking-wide font-bold dark:text-drop-500 text-drop-400'>
      Featured work
    </div>
    <h3 class='text-3xl font-bold mt-4 text-gradient'>Radlist</h3>
    <div class='mt-2'>The delightful way to make lists for almost anything.</div>
  </div>
  <div class='mt-auto p-8 rounded-b-xl bg-drop-400/10 dark:bg-drop-800 flex flex-col'>
    <a class='link link-accent' href='https://radl.ist'>Visit Radl.ist</a>
  </div>
</div>
<div class='box col-span-8 relative flex items-center justify-center'>
  <Image
    class='rounded-xl hidden dark:inline-block shadow-2xl shadow-drop-950 pointer-events-none select-none'
    width={800}
    height={445}
    alt='Radlist'
    quality={100}
    src='/projects/radlist/radlist-bg-dark.png'
  />
  <Image
    class='rounded-xl inline-block dark:hidden shadow-2xl shadow-drop-500/30 pointer-events-none select-none'
    width={800}
    height={445}
    alt='Radlist'
    quality={100}
    src='/projects/radlist/radlist-bg-light.png'
  />
  <div class='absolute z-10 w-[12rem]'>
    <svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 446 92'>
      <path
        fill='currentColor'
        d='M118.302 70.856v-51.77h22.955c5.896 0 10.248 1.31 13.056 3.93 2.832 2.598 4.247 6.225 4.247 10.881 0 2.621-.503 4.856-1.509 6.704-1.006 1.849-2.258 3.276-3.756 4.282-1.497 1.006-2.983 1.568-4.457 1.685 1.521.094 2.937.456 4.247 1.088 1.31.632 2.363 1.65 3.159 3.054.819 1.38 1.228 3.252 1.228 5.615v8.564c0 1.24.094 2.422.281 3.545.211 1.1.526 1.907.948 2.422h-14.18c-.375-.585-.667-1.415-.878-2.492a20.315 20.315 0 0 1-.28-3.475V57.94c0-1.872-.398-3.346-1.194-4.422-.795-1.1-2.234-1.65-4.317-1.65h-9.406l3.685-4.317v23.305h-13.829Zm13.829-24.569-3.685-4.949h9.547c1.193 0 2.234-.245 3.123-.737a5.07 5.07 0 0 0 2.106-2.106c.515-.936.772-2.024.772-3.264 0-1.52-.55-2.843-1.649-3.966-1.077-1.123-2.551-1.685-4.423-1.685h-9.827l4.036-4.211v20.918Zm35.312 24.57 12.039-51.771h22.498l11.968 51.77h-14.495l-8.74-43.311h.07l-8.844 43.311h-14.496Zm10.529-10.881V49.34h25.552v10.635h-25.552Zm46.13 10.88v-51.77h19.234c3.487 0 6.681.643 9.582 1.93a22.19 22.19 0 0 1 7.511 5.405c2.106 2.317 3.732 5.043 4.879 8.178 1.147 3.136 1.72 6.552 1.72 10.25 0 3.696-.573 7.124-1.72 10.283s-2.773 5.92-4.879 8.283a22.38 22.38 0 0 1-7.511 5.476c-2.901 1.31-6.095 1.965-9.582 1.965h-19.234Zm14.18-4.141-6.388-6.388h9.547c2.012 0 3.861-.62 5.546-1.86 1.708-1.264 3.077-3.054 4.106-5.37 1.03-2.317 1.544-5.067 1.544-8.249 0-3.206-.514-5.943-1.544-8.213-1.029-2.27-2.398-4.001-4.106-5.194-1.685-1.217-3.534-1.826-5.546-1.826h-9.547l6.388-6.388v43.487Zm39.954 4.141v-51.77h14.18v47.593l-6.388-7.09h24.85v11.267h-32.642Zm43.539 0v-51.77h13.969v51.77h-13.969Zm45.187.913c-3.838 0-7.278-.609-10.319-1.825-3.042-1.24-5.452-3.077-7.231-5.51-1.755-2.434-2.632-5.453-2.632-9.056v-1.825h14.145v1.544c0 1.638.503 3.007 1.509 4.106 1.029 1.1 2.585 1.65 4.668 1.65 2.012 0 3.592-.292 4.738-.877 1.17-.609 1.755-1.591 1.755-2.949 0-1.006-.55-1.942-1.649-2.808-1.077-.865-2.539-1.684-4.388-2.456-1.825-.773-3.861-1.51-6.107-2.212a33.082 33.082 0 0 1-6.949-3.123 16.55 16.55 0 0 1-5.335-5.09c-1.381-2.106-2.071-4.715-2.071-7.827 0-3.205.889-5.943 2.667-8.213 1.779-2.293 4.165-4.048 7.16-5.264 3.019-1.217 6.365-1.826 10.039-1.826 3.814 0 7.218.597 10.213 1.79 3.019 1.194 5.405 2.949 7.16 5.265 1.755 2.317 2.633 5.183 2.633 8.6v1.754h-14.145V34.53c0-1.52-.433-2.808-1.299-3.86-.842-1.054-2.304-1.58-4.387-1.58-2.059 0-3.65.374-4.773 1.123-1.1.749-1.65 1.837-1.65 3.264 0 1.006.468 1.895 1.404 2.668.936.748 2.223 1.45 3.861 2.106 1.661.655 3.533 1.357 5.616 2.105 3.135 1.1 5.884 2.317 8.248 3.65 2.363 1.311 4.2 2.96 5.51 4.95 1.334 1.989 2.001 4.54 2.001 7.651 0 3.253-.878 6.014-2.633 8.283-1.755 2.247-4.176 3.955-7.265 5.125-3.065 1.17-6.563 1.755-10.494 1.755Zm68.297-42.154h-18.532l6.388-6.388v47.63H408.97v-47.63l6.388 6.388h-18.497v-10.53h38.398v10.53ZM42.167 8.947c1.279-3.218 5.833-3.218 7.112 0l4.263 10.728a3.826 3.826 0 0 0 5.07 2.1l10.601-4.57c3.18-1.372 6.4 1.848 5.029 5.028l-4.571 10.6a3.826 3.826 0 0 0 2.1 5.07L82.5 42.168c3.218 1.279 3.218 5.833 0 7.112l-10.728 4.263a3.826 3.826 0 0 0-2.1 5.07l4.571 10.601c1.37 3.18-1.85 6.4-5.029 5.029l-10.6-4.571a3.826 3.826 0 0 0-5.07 2.1L49.278 82.5c-1.279 3.218-5.833 3.218-7.112 0l-4.263-10.728a3.826 3.826 0 0 0-5.07-2.1l-10.601 4.571c-3.18 1.37-6.4-1.85-5.029-5.029l4.571-10.6a3.826 3.826 0 0 0-2.1-5.07L8.947 49.278c-3.218-1.279-3.218-5.833 0-7.112l10.728-4.263a3.826 3.826 0 0 0 2.1-5.07l-4.57-10.601c-1.372-3.18 1.848-6.4 5.028-5.029l10.6 4.571a3.826 3.826 0 0 0 5.07-2.1l4.264-10.728Z'
      >
      </path>
    </svg>
  </div>
</div>
