---
import { Image } from '@astrojs/image/components';
import Project from '@components/Project.astro';
---

<Project
  links={[
    {
      text: 'Visit Proper',
      url: 'https://proper.sh',
    },
  ]}
  flipped
>
  <span slot='title'>Proper</span>
  <span slot='description'>
    Generate your own shell script to globally install from NPM, Homebrew, Mac app store, &
    Composer.
  </span>
  <div slot='showcase'>Images should go here</div>
</Project>
