html.dark[data-theme='royal'] {
  --primary-50: theme('colors.royal.50');
  --primary-100: theme('colors.royal.100');
  --primary-200: theme('colors.royal.200');
  --primary-300: theme('colors.royal.300');
  --primary-400: theme('colors.royal.400');
  --primary-500: theme('colors.royal.500');
  --primary-600: theme('colors.royal.600');
  --primary-700: theme('colors.royal.700');
  --primary-800: theme('colors.royal.800');
  --primary-900: theme('colors.royal.900');
  --primary-950: theme('colors.royal.950');

  color: theme('colors.primary.100');
  background-color: theme('colors.primary.950');
}
