@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

html {
  --color-primary: theme('colors.zinc.200');
  --color-primary-active: theme('colors.bronze.600');
  --color-primary-contrast: theme('colors.zinc.900');

  --color-accent: theme('colors.blue.500');
  --color-accent-active: theme('colors.blue.900');

  color: theme('colors.zinc.900');
  background-color: theme('colors.white');
}

html.dark {
  --color-primary: theme('colors.zinc.900');
  --color-primary-active: theme('colors.bronze.600');
  --color-primary-contrast: theme('colors.zinc.100');

  --color-secondary: theme('colors.zinc.700');
  --color-secondary-active: theme('colors.zinc.900');

  --color-accent: theme('colors.blue.200');
  --color-accent-active: theme('colors.blue.400');

  color: theme('colors.zinc.100');
  background-color: theme('colors.zinc.900');
}

body.overlay {
  overflow: hidden;
}

/* Overides for Tailwind prose */
.prose,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--color-primary);
}
.prose a {
  color: var(--color-accent);
  text-decoration: none;
}
.prose a:hover {
  @apply inline all:underline all:outline-none underline-offset-2 decoration-[0.1em] hover:text-accent-active;
}
.prose strong {
  color: var(--color-primary);
}

@layer utilities {
  .text-gradient {
    @apply text-bronze-600 bg-clip-text text-transparent bg-gradient-to-r from-bronze-400 via-bronze-500 to-bronze-600;
  }
}

@layer components {
  .button {
    @apply dark:bg-zinc-700 hover:dark:bg-bronze-700 bg-zinc-200 hover:bg-bronze-700 text-zinc-600 hover:text-zinc-100 dark:text-zinc-100 rounded-2xl px-3 py-1;
  }
  .box {
    @apply bg-zinc-100/75 dark:bg-zinc-800/50 rounded-2xl p-8 border border-zinc-200/50 dark:border-zinc-700/20;
  }
  .link {
    @apply inline-block all:underline all:outline-none underline-offset-2 decoration-[0.1em];
  }
  .link-accent {
    @apply text-bronze-500 hocus:text-bronze-700 dark:hover:text-bronze-300;
  }
}
