@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-primary: theme('colors.zinc.700');
  --color-primary-active: theme('colors.zinc.900');
  --color-accent: theme('colors.blue.500');
  --color-accent-active: theme('colors.blue.900');

  background-color: theme('colors.zinc.50');
  color: var(--color-primary);
}

html.dark {
  --color-primary: theme('colors.zinc.200');
  --color-primary-active: theme('colors.zinc.600');
  --color-accent: theme('colors.blue.200');
  --color-accent-active: theme('colors.blue.400');

  color: var(--color-primary);
  background-color: theme('colors.zinc.900');
}
