@layer utilities {
  .text-gradient {
    @apply text-primary-600 bg-clip-text text-transparent bg-gradient-to-r from-primary-400 via-primary-500 to-primary-600;
  }
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 10s linear infinite;
}
