---
import PageHeader from '@components/PageHeader.astro';
import Layout from '../layouts/LayoutDefault.astro';
---

<Layout title='Colophon'>
	<main>
		<PageHeader title='Colophon' subtitle='Information about this site.' />
		<div class='max-w-2xl prose prose-white'>
			<p>
				This site is built with <a href='https://astro.build'>Astro</a>, but using <a
					href='https://github.com/natedunn/headroom'
					target='_blank'
				>
					Headroom
				</a> as a starting point. It also uses <a href='https://tailwindcss.com/' target='_blank'>
					Tailwind
				</a> for styling, Typescript throughout, and is hosted on <a
					href='https://vercel.com'
					target='_blank'
				>
					Vercel
				</a>.
			</p>
			<p>Web design, layout, graphic, etc, are all done by me.</p>
		</div>
	</main>
</Layout>
