---
import PageHeader from '@components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Colophon'>
  <main>
    <PageHeader title='Colophon' subtitle='Information about this site.' />
    <div class='max-w-2xl'></div>
  </main>
</Layout>
