---
import Layout from '@layouts/LayoutDefault.astro';
import Grid from '@components/Grid.astro';
import GeoCities from '@components/grid-items/GeoCities.astro';
import Location from '@components/grid-items/Location.astro';
import NowPlaying from '@components/grid-items/NowPlaying.astro';
import TopAlbums from '@components/grid-items/TopAlbums.astro';
import Checklist from '@components/grid-items/Checklist.astro';
import Greetings from '@components/grid-items/Greetings.astro';
import Tools from '@components/grid-items/Tools.astro';
import Portrait from '@components/grid-items/Portrait.astro';
import HomeHeading from '@components/grid-items/HomeHeading.astro';
---

<Layout title='About'>
  <div class='flex flex-col w-full items-start h-full space-y-6'>
    <Grid>
      <div class='col-span-3'>
        <Portrait />
      </div>
      <div class='col-span-9'>
        <HomeHeading />
      </div>
    </Grid>
    <Grid>
      <div class='col-span-6'>
        <Greetings />
      </div>
      <div class='col-span-6'>
        <Location />
      </div>
    </Grid>
    <Grid>
      <div class='col-span-3'>
        <Checklist />
      </div>
      <div class='col-span-6'>
        <Tools />
      </div>
      <div class='col-span-3'>
        <GeoCities />
      </div>
    </Grid>
    <Grid>
      <div class='col-span-4'>
        <NowPlaying />
      </div>
      <div class='col-span-4'>
        <TopAlbums />
      </div>
      <div class='box col-span-4'>Socials</div>
    </Grid>
  </div>
</Layout>
