---
import Link from '@components/Link.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <main class='max-w-2xl'>
    <h1 class='text-3xl font-bold'>Nate Dunn</h1>
    <h2 class='text-2xl'>Full stack web developer</h2>
    <div class='space-y-3 mt-6 opacity-80'>
      <p>
        I build applications and websites with a careful eye for design and user experience. I'm
        from Phoenix, Arizona, but I have been based out of Mexico City for the last {
          new Date().getFullYear() - 2017
        } years.
      </p>
      <p>If you would like to work with me, please <Link href='/connect'>get in touch</Link>.</p>
    </div>
  </main>
</Layout>
