---
import Layout from '@layouts/Layout.astro';
---

<Layout title='~'>
  <h1 class='text-4xl font-bold leading-normal'>
    Hey, I'm Nate. <br />I make things for the internet.
  </h1>
  <div class='p-10'>Projects</div>
</Layout>
