---
import Link from '@components/Link.astro';
import PageHeader from '@components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
  <main class='max-w-2xl'>
    <PageHeader title='Nate Dunn' subtitle='Full stack web developer' />
    <div class='space-y-3 mt-6 opacity-80'>
      <p>
        I am a <span class='font-semibold'>full stack web developer</span>, originally from Phoenix,
        Arizona but now living in Mexico City.
      </p>
      <p>
        I build applications and websites with a careful eye for design and user experience. I have {
          new Date().getFullYear() - 2012
        } years of professional experience in various web technologies, though these days I specialize
        in <span class='font-semibold'>React</span> and <span class='font-semibold'>Next.js</span>.
      </p>
      <p>
        I am an avid learner and experimenter. But most of all, I'm passionate about helping make
        the web a more beautiful, performant, and accessible experience for everyone.
      </p>
      <p>
        If you have anything that you would like to connect with me on, please <Link
          href='/connect'
        >
          get in touch
        </Link>.
      </p>
    </div>
  </main>
</Layout>
