---
import Link from './Link.astro';
---

<style>
  li:not(:first-of-type) {
    padding-left: theme('spacing.6');
  }
</style>

<footer
  class='dark:text-white/75 text-black/75 flex flex-wrap flex-col md:flex-row-reverse gap-4 items-center justify-between'
>
  <ul class='flex justify-start items-center space-x-6 divide-x-2 dark:divide-zinc-100/20'>
    <li>
      <Link href='/connect'>Connect</Link>
    </li>
    <li>
      <Link href='/colophon'>Colophon</Link>
    </li>
  </ul>
  <ul
    class='flex flex-col gap-4 md:gap-0 md:flex-row justify-start items-center md:space-x-6 md:divide-x-2 md:dark:divide-zinc-100/20'
  >
    <li>
      © {new Date().getFullYear()} Nate Dunn. All rights reserved.
    </li>
    <li>🇲🇽</li>
  </ul>
</footer>
