---
import Link from './Link.astro';
---

<footer class='dark:text-white/75 text-black/75 py-12'>
  <div class='container'>
    <ul class='flex justify-center items-center gap-4'>
      <li>
        Framework by <Link class='dark:text-white text-black' href='https://astro.build/'
          >Astro</Link
        >
      </li>
      <li>|</li>
      <li>
        Kit by <Link class='dark:text-white text-black' href='https://github.com/natedunn'
          >Nate Dunn</Link
        >
      </li>
    </ul>
  </div>
</footer>
