---
import Link from './Link.astro';
---

<style>
  li:not(:first-of-type) {
    padding-left: theme('spacing.6');
  }
</style>

<footer
  class='dark:text-white/75 text-black/75 flex items-center justify-between border-t border-zinc-200 dark:border-zinc-700 pt-8'
>
  <ul class='flex justify-start items-center space-x-6 divide-x-2 dark:divide-zinc-100/20'>
    <li>
      © {new Date().getFullYear()} Nate Dunn. All rights reserved.
    </li>
    <li>Built with love in{` `} 🇲🇽</li>
  </ul>
  <ul class='flex justify-start items-center space-x-6 divide-x-2 dark:divide-zinc-100/20'>
    <li>
      <Link href='/connect'>Connect</Link>
    </li>
    <li>
      <Link href='/colophon'>Colophon</Link>
    </li>
  </ul>
</footer>
