---
import clsx from 'clsx';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div class={clsx('grid grid-cols-12 w-full gap-6 mt-6', className)}>
  <slot />
</div>
