---
import clsx from 'clsx';

type Props = {
  class?: string;
  custom?: boolean;
};

const { class: className, custom } = Astro.props;
---

<div
  class={clsx('grid w-full gap-6', className, {
    'grid-cols-12': !custom,
  })}
>
  <slot />
</div>
