---
import Link from '@components/Link.astro';
import ThemeToggle from './ThemeToggle';

const navItems = [
  {
    text: 'Examples',
    href: '/examples',
  },
  {
    text: 'Docs',
    href: '/docs',
  },
  {
    text: 'GitHub',
    href: 'https://github.com/natedunn/headroom',
  },
];
---

<nav class='container pt-4'>
  <div class='w-full flex items-center justify-evenly'>
    <div class='flex lg:grow lg:basis-0 items-center'>
      <a
        href='/'
        class='border-b-2 border-transparent pb-1 hover:border-primary focus:border-primary focus:outline-none'
      >
        <svg
          class='h-5 w-auto text-primary'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 86 15'
        >
          <path
            fill='currentColor'
            d='M.5625 14V5.27273h2.36932v3.40909h3.13636V5.27273H8.4375V14H6.06818v-3.4091H2.93182V14H.5625Zm10.8 0V5.27273h6.2898v1.90909h-3.9205v1.5h3.5966v1.90908h-3.5966v1.5h3.9034V14h-6.2727Zm11.5319 0h-2.5568l2.8807-8.72727h3.2386L29.3376 14h-2.5568l-1.9091-6.32386h-.0682L22.8944 14Zm-.4773-3.4432h4.8068v1.7727h-4.8068v-1.7727ZM35.3361 14h-3.358V5.27273h3.3239c.8977 0 1.6733.17472 2.3267.52415.6562.34659 1.1619.84659 1.517 1.5.358.65057.537 1.4304.537 2.33949 0 .90913-.1776 1.69033-.5327 2.34373-.3551.6506-.858 1.1506-1.5085 1.5-.6506.3466-1.4191.5199-2.3054.5199Zm-.9887-2.0114h.9035c.4318 0 .7997-.0696 1.1036-.2088.3069-.1392.5398-.3792.6989-.7201.1619-.3409.2429-.8154.2429-1.42333 0-.60796-.0824-1.08239-.2472-1.4233-.1619-.34091-.4005-.58097-.7159-.72017-.3125-.1392-.696-.20881-1.1505-.20881h-.8353v4.70451ZM42.5789 14V5.27273h3.7671c.6477 0 1.2144.1179 1.7002.35369.4858.2358.8637.57529 1.1336 1.01847.2698.44318.4048.97443.4048 1.59375 0 .625-.1392 1.15199-.4176 1.58096-.2756.429-.6634.7528-1.1634.9716-.4971.2187-1.0781.3281-1.7429.3281h-2.25V9.27841h1.7728c.2784 0 .5156-.03409.7116-.10227.1989-.07102.3509-.18324.456-.33665.1079-.15341.1619-.35369.1619-.60085 0-.25-.054-.45313-.1619-.60938-.1051-.15909-.2571-.27556-.456-.34943-.196-.0767-.4332-.11505-.7116-.11505h-.8353V14h-2.3693Zm5.1136-4.00568L49.8744 14h-2.5739l-2.1307-4.00568h2.5227Zm13.1566-.35795c0 .97163-.1889 1.79123-.5668 2.45883-.3778.6647-.8878 1.169-1.5298 1.5128-.6421.3409-1.358.5113-2.1477.5113-.7955 0-1.5142-.1719-2.1563-.5156-.6392-.3466-1.1477-.8523-1.5256-1.517-.375-.6677-.5625-1.4844-.5625-2.45033 0-.97159.1875-1.78978.5625-2.45455.3779-.66761.8864-1.17187 1.5256-1.51278.6421-.34375 1.3608-.51563 2.1563-.51563.7897 0 1.5056.17188 2.1477.51563.642.34091 1.152.84517 1.5298 1.51278.3779.66477.5668 1.48296.5668 2.45455Zm-2.4375 0c0-.52273-.0696-.96307-.2088-1.32103-.1364-.36079-.3395-.63352-.6094-.81818-.2671-.1875-.5966-.28125-.9886-.28125-.3921 0-.7231.09375-.9929.28125-.2671.18466-.4702.45739-.6094.81818-.1364.35796-.2046.7983-.2046 1.32103 0 .52273.0682.96453.2046 1.32533.1392.3579.3423.6306.6094.8181.2698.1847.6008.277.9929.277.392 0 .7215-.0923.9886-.277.2699-.1875.473-.4602.6094-.8181.1392-.3608.2088-.8026.2088-1.32533Zm13.7883 0c0 .97163-.189 1.79123-.5668 2.45883-.3778.6647-.8878 1.169-1.5298 1.5128-.6421.3409-1.358.5113-2.1478.5113-.7954 0-1.5142-.1719-2.1562-.5156-.6392-.3466-1.1477-.8523-1.5256-1.517-.375-.6677-.5625-1.4844-.5625-2.45033 0-.97159.1875-1.78978.5625-2.45455.3779-.66761.8864-1.17187 1.5256-1.51278.642-.34375 1.3608-.51563 2.1562-.51563.7898 0 1.5057.17188 2.1478.51563.642.34091 1.152.84517 1.5298 1.51278.3778.66477.5668 1.48296.5668 2.45455Zm-2.4375 0c0-.52273-.0696-.96307-.2088-1.32103-.1364-.36079-.3395-.63352-.6094-.81818-.2671-.1875-.5966-.28125-.9887-.28125-.392 0-.723.09375-.9929.28125-.267.18466-.4701.45739-.6093.81818-.1364.35796-.2046.7983-.2046 1.32103 0 .52273.0682.96453.2046 1.32533.1392.3579.3423.6306.6093.8181.2699.1847.6009.277.9929.277.3921 0 .7216-.0923.9887-.277.2699-.1875.473-.4602.6094-.8181.1392-.3608.2088-.8026.2088-1.32533Zm5.3337-4.36364h2.9489l2.0284 4.94317h.1022l2.0284-4.94317h2.9489V14h-2.3182V8.95455h-.0682l-1.9431 4.97725h-1.3978l-1.9431-5.01134h-.0682V14h-2.3182V5.27273ZM4.5 0 8 4H1l3.5-4Z'
          >
          </path>
        </svg>
      </a>
    </div>
    <ul class='flex items-center justify-center gap-2 flex-auto basis-auto'>
      {
        navItems.map((item) => (
          <Link
            class='text-primary px-4 py-1 rounded-full dark:hover:bg-slate-800 dark:focus:bg-slate-800 text-lg hover:bg-slate-200 focus:bg-slate-200'
            href={item.href}
          >
            {item.text}
          </Link>
        ))
      }
    </ul>
    <div class='flex justify-end lg:grow lg:basis-0'>
      <ThemeToggle client:load />
    </div>
  </div>
</nav>
