---
import type { Track } from '@types';
import { TrackSchema } from '@types';

const data = await fetch(
  'http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=natedunn_&api_key=6bdef1aaefcf94de50a24ac859941fc3&format=json&limit=1'
)
  .then((res) => res.json())
  .then((res) => res.recenttracks.track[0] as Track);
---

<div class='box relative overflow-hidden w-full'>
  <div>
    <span class='font-bold text-primary-500'>{data?.name}</span>
    <br />
    By {data?.artist?.['#text']}
  </div>
  <svg
    class='absolute -right-4 -bottom-8 h-32 w-32 opacity-30 text-primary-500'
    fill='none'
    viewBox='0 0 24 24'
  >
    <circle
      cx='7'
      cy='17'
      r='2.25'
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
    >
    </circle>
    <path
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
      d='M9.25 17V6.75C9.25 5.64543 10.1454 4.75 11.25 4.75H17.25C18.3546 4.75 19.25 5.64543 19.25 6.75V14'
    >
    </path>
    <circle
      cx='17'
      cy='14'
      r='2.25'
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='1.5'
    >
    </circle>
  </svg>
</div>
