---
import clsx from 'clsx';

type Props = {
  title: string;
  subtitle?: string;
  className?: string;
};

const { title, subtitle, className } = Astro.props;
---

<div class={clsx('space-y-1 border-b border-drop-200 dark:border-drop-700 pb-6 mb-8', className)}>
  <h1 class='text-4xl font-bold'>{title}</h1>
  {subtitle && <h2 class='text-lg'>{subtitle}</h2>}
</div>
