---
import clsx from 'clsx';
import BoxTitle from './BoxTitle.astro';

type Props = {
  featured?: boolean;
  title?: string;
  description?: string;
  links?: {
    text: string;
    url: string;
  }[];
  flipped?: boolean;
};

const { featured = true, title, description, links, flipped = false } = Astro.props;
---

<div class='box md:w-8/12'>
  <slot name='showcase' />
</div>
<div
  class={clsx('box !p-0 md:w-4/12 flex flex-col w-full', {
    'md:order-first': flipped,
    'md:order-last': !flipped,
  })}
>
  <div class='flex flex-col h-full p-8'>
    {featured && <BoxTitle>Featured Work</BoxTitle>}
    <h3 class='text-3xl font-bold mt-4 text-gradient'>
      <slot name='title'>{title}</slot>
    </h3>
    <div class='mt-2'>
      <slot name='description'>{description}</slot>
    </div>
  </div>
  {
    links && links.length > 0 && (
      <div class='mt-auto p-8 rounded-b-xl bg-drop-400/10 dark:bg-drop-800 flex flex-col'>
        {links.map((link) => {
          return (
            <a href={link.url} class='link link-accent' target='_blank'>
              {link.text}
            </a>
          );
        })}
      </div>
    )
  }
</div>
