---
import Footer from '@components/Footer.astro';
import { MainNav } from '@components/MainNav';

import '../styles/global.css';
export interface Props {
  title: string;
}

const { title } = Astro.props;

const currentPath = new URL(Astro.request.url).pathname.slice(1);
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }
  window.localStorage.setItem('theme', theme);
</script>

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} — Nate Dunn</title>
  </head>

  <body class='flex flex-col h-full'>
    <header class='p-6 md:p-10'>
      <!-- {isDesktop ? 'Desktop' : 'Mobile'} -->
      <MainNav currentPath={currentPath} client:load />
    </header>
    <div class='p-6 md:p-10 flex-auto'>
      <slot />
    </div>
  </body>
  <div class='p-6 md:p-10 mt-auto'>
    <Footer />
  </div>
</html>
